extends layout.html

block body
	br
	div#landing
		div.row
			div.col-xs-12.col-sm-8.col-sm-offset-2
				div.form-group
					label Title
					input.form-control.input-lg(type="text", name="title", placeholder="Title")



